<% if current_user %>
<p>
  <%= current_user.name %>
  <%= link_to "メールボックス", :action => 'index' %>
  <%= link_to "ログアウトする", signout_path %>
</p>
<% end %>

<p>
  ユーザー数:<%= @user_count %>,
  ボトル数:<%= @bottle_count %>,
</p>

<% if !current_user %>
  <%= link_to "Twitterアカウントでログインする", '/auth/twitter' %>
<% end %>

<h2>Tomotomotterって?</h2>

<p>
友達の友達と，お互い相手が誰だか知らない状態で文通するアプリです．<br/>
Twitterのフォローしあってる同士を友達とみなして，友達の友達を判定します．<br/>
ボトルが届く先が，友達の友達に限定されたボトルメールアプリともいえます．<br/>
</p>

<p>
相手があなたと友達である場合は，もし相手があなたの友達の友達であっても，ボトルは届きません．<br/>
</p>

<!--
<h2>用途</h2>

<ul>
  <li>test</li>
  <li>test</li>
</ul>
-->

<h2>用語の説明</h2>

<table border=1 bordercolor="#777777" cellspacing="0">
  <tr>
    <td>ボトル</td>
    <td>あなたと友達の友達の関係のあるひとにランダムで届くメッセージです</td>
  </tr>
  <tr>
    <td>メール</td>
    <td>
      ボトルには返信できます．返信したメッセージはボトルを投稿したひとに届きます．<br/>
      このメッセージのことをメールと呼んでいます．<br/>
      メールにも返信することができます．返信したメッセージはもとのメールを投稿したひとに届きます．
    </td>
  </tr>
  <tr>
    <td>メールボックス</td>
    <td>あなた宛に届いたメールをみることができます</td>
  </tr>
  <tr>
    <td>送信ログ</td>
    <td>あなたが投稿したボトルやメールをみることができます</td>
  </tr>
  <tr>
    <td>ボトルプール</td>
    <td>あなたの友達の友達が投稿したボトルをみることができます</td>
  </tr>
</table>

<h2>連絡先</h2>
<p>
  ご意見，ご要望は<a href="http://twitter.com/#!/__Egi">@__Egi</a>までお願いしますm(_ _)m
</p>
