<p>
  <%= current_user.name %>
  <%= link_to "トップ", :action => 'about' %>
  <%= link_to "ログアウトする", signout_path %>
</p>

<p>
  <%= link_to 'ボトルを作成する', :action => "new" %>
</p>

<p>
  <%= link_to 'メールボックス', :action => "index" %>
  送信ログ
  <%= link_to 'ボトルプール', :action => "pool" %>
</p>

<h2>送信ログ</h2>

<% if @sent_bottles == [] %>
  <p>
    メッセージはありません<br/>
  </p>
<% else %>
<table border=1 bordercolor="#777777" cellspacing="0">
  <tr>
    <th>メッセージ</th>
    <th>着信時間</th>
    <th></th>
  </tr>
<% @sent_bottles.each do |bottle| %>
  <tr>
    <td><%= truncate bottle.body %></td>
    <td><%= mail_time(bottle.created_at) %></td>
    <td><%= link_to '読む', :action => "show_sent", :id => bottle.id %></td>
  </tr>
<% end %>
</table>
<% end %>

<br />

