<!DOCTYPE html>
<html>
<head>
  <title>Tomotomotter</title>
<!--
  <link rel="stylesheet" type="text/css"
        href="/stylesheets/explore.css" media="all" />
-->
  <%= stylesheet_link_tag "iphone", :midia => "only screen and (max-width: 480px)" %>
  <%= stylesheet_link_tag "main", :midia => "only screen and (min-width: 480px)" %>
  <!--[if IE]>
  <%= stylesheet_link_tag "explore", :midia => "all" %>
  <![if IE]-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

   <!-- for iPhone -->
   <meta name="viewport" content="user-scalable=no, width=device-width" />
</head>
<body>

<h1>Tomotomotter</h1>

<%= yield %>

</body>
</html>
